pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Connexion au site rbnb",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://insideairbnb.com/get-the-data/",
					"authentication": {
						"type": "ServicePrincipal",
						"userTenant": "a2e466aa-4f86-4545-b5b8-97da7c8febf3",
						"username": "21c67a4d-2f9e-4c96-9e3f-f34c965084f3",
						"resource": "https://management.azure.com/",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "AzureKeyVault2",
								"type": "LinkedServiceReference"
							},
							"secretName": "hdserviceprincipal2emecree"
						}
					}
				}
			},
			{
				"name": "Response",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Connexion au site rbnb",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Response",
					"value": {
						"value": "@activity('Connexion au site rbnb').output.Response",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}